body{
    margin:0;
    font-family:Arial,sans-serif;
    background:linear-gradient(#4facfe,#00f2fe);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}


.container{

    background:white;
    width:350px;
    padding:25px;
    text-align:center;
    border-radius:20px;

}


h1{
    color:#2196f3;
}


button{

    padding:12px 20px;
    border:none;
    background:#2196f3;
    color:white;
    border-radius:10px;
    cursor:pointer;

}


input{

    padding:12px;
    width:80%;
    border-radius:10px;
    border:1px solid #ccc;
    margin-bottom:10px;

}


.weather-box{

    margin-top:20px;
    padding:20px;
    background:#f2f2f2;
    border-radius:15px;

}


#icon{

    width:80px;

}


.forecast{

    display:flex;
    gap:10px;
    margin-top:20px;
    overflow-x:auto;

}


.card{

    background:#f2f2f2;
    padding:10px;
    border-radius:15px;
    min-width:90px;

}


.card img{

    width:50px;

}